.projectDiv {
    padding: 20px 10px;
    margin: 10px;
    width: 25%;
    background-color: black;
    text-align: center;
    border-radius: 5px;
}
.dueDate {
    text-align: right;
    color: red;
}
.title {
    padding: 10px;
    font-size: 150%;
}
.description {
    font-style: italic;
    font-size: 90%;
    padding-bottom: 30px;
}